<!DOCTYPE html>

<html>
  <head>
    <title>Anju Player</title>

    <!-- Latest compiled and minified JavaScript -->
    <%= javascript_include_tag "jquery-1.12.0.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>
    <%= javascript_include_tag "new_scripts.js" %>

    <link href='https://fonts.googleapis.com/css?family=Raleway|Sacramento' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'anju_logov1.png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="container" id="main box">
      <div id="header_part">
        <%= image_tag "anju_logov1.png", id: "logo" %>
        <h1 id=title>Anju Player</h1>
        <h3 id="tagline">enter youtube links to add songs to your playlist!</h3>
        <input id="input_box" type="text" placeholder="e.g. https://www.youtube.com/watch?v=6mR8Z-gmK1g">
        <button class="anju_button" id="add" type="button">ADD!</button>
      </div>

      <div id="action_part">
        <div id="playlist">
          <h2 id="playlist_title">Playlist</h2>
          <p id=info>click a song to play it!</p>
          <button class="anju_button" id="play_all" type="button">PLAY ALL</button>
          <hr>
          <table id="p_table">
          </table>
        </div>
        <div id=vidbox>
          <div id="player"></div>
        </div>
      </div>
    </div>
  </body>

</html>
